# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# React Native / Expo
## Mobile Directory
/DroneForceRN/node_modules/
/DroneForceRN/.expo/
/DroneForceRN/dist/
/DroneForceRN/npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
/DroneForceRN/web-build/

# Expo
.expo/
.expo-shared/
dist/
*.jks
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Native
/DroneForceRN/ios/build/
/DroneForceRN/ios/Pods/
/DroneForceRN/android/app/build/

# Local Netlify folder
.netlify

# DroneForceRN directories and files to ignore
/DroneForceRN/node_modules/
/DroneForceRN/.bundle/
/DroneForceRN/.gradle/
/DroneForceRN/build/
/DroneForceRN/dist/

# Android specific ignores
/DroneForceRN/android/build/
/DroneForceRN/android/.gradle/
/DroneForceRN/android/local.properties
/DroneForceRN/android/captures/
/DroneForceRN/android/app/build/
/DroneForceRN/android/app/release/
/DroneForceRN/android/app/src/main/assets/index.android.bundle
/DroneForceRN/android/app/src/main/assets/index.android.bundle.meta
/DroneForceRN/android/app/src/main/res/drawable-*/
/DroneForceRN/android/app/debug/
/DroneForceRN/android/*.keystore
/DroneForceRN/android/*.apk

# iOS specific ignores
/DroneForceRN/ios/build/
/DroneForceRN/ios/Pods/
/DroneForceRN/ios/Podfile.lock
/DroneForceRN/ios/*.xcworkspace/xcuserdata/
/DroneForceRN/ios/vendor/

# General mobile app ignores
/DroneForceRN/*.jsbundle
/DroneForceRN/.DS_Store
/DroneForceRN/*.hprof
/DroneForceRN/npm-debug.log*
/DroneForceRN/yarn-debug.log*
/DroneForceRN/yarn-error.log*
